@import url('https://fonts.googleapis.com/css?family=Nova+Script');

@import "base/index";

body {
  background: black;
}

h1 {
  color: $ufo;
  font-family: $stack-nova;
  text-align: center;
}

hr {
  border: 1px solid $magic;
}

.container {
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10em;
  flex-flow: row wrap;
}

.first-face,
.second-face,
.third-face,
.fourth-face,
.fifth-face,
.sixth-face {
  display: flex;
  border: 1px solid $magic;
  border-radius: 5%;
  width: 200px;
  height: 200px;
  padding: 20px;
}

.pip {
  display: block;
  background:
  $ufo;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.first-face {
  justify-content: center;
  align-items: center;
}

.second-face {
  justify-content: space-between;
  .pip:nth-child(1) {
    justify-content: flex-start;
  }
}

.second-face {
  .pip:nth-child(2) {
    justify-content: flex-end;
    align-self: flex-end;
  }
}

.third-face {
  justify-content: space-between;
  .pip:nth-child(1) {
    justify-content: flex-start;
  }
}

.third-face {
  .pip:nth-child(2) {
    justify-content: center;
    align-self: center;
  }
}

.third-face {
  .pip:nth-child(3) {
    justify-content: flex-end;
    align-self: flex-end;
  }
}

.fourth-face {
  justify-content: space-between;
  .column {
    .pip:nth-child(2){
      align-items: flex-end;
    }
  }
  .column:nth-child(2){
    align-self: flex-end;
    justify-content: space-between;
  }
}
